// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
::-webkit-input-placeholder {
	color: $color__font--gray-20;
}

:-moz-placeholder {
	color: $color__font--gray-20;
	opacity: 1;
}

::-moz-placeholder {
	color: $color__font--gray-20;
	opacity:  1;
}

:-ms-input-placeholder {
	color: $color__font--gray-20;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}
