// -----------------------------------------------------------------------------
// This file contains CSS helper classes.
// -----------------------------------------------------------------------------

/**
 * Add/remove margins
 */
.push           { margin:       $base__spacing-unit!important; }
.push--top      { margin-top:   $base__spacing-unit!important; }
.push--right    { margin-right: $base__spacing-unit!important; }
.push--bottom   { margin-bottom:$base__spacing-unit!important; }
.push--left     { margin-left:  $base__spacing-unit!important; }
.push--ends     { margin-top:   $base__spacing-unit!important; margin-bottom:$base__spacing-unit!important; }
.push--sides    { margin-right: $base__spacing-unit!important; margin-left:  $base__spacing-unit!important; }

.push__half          { margin:       $half__spacing-unit!important; }
.push__half--top     { margin-top:   $half__spacing-unit!important; }
.push__half--right   { margin-right: $half__spacing-unit!important; }
.push__half--bottom  { margin-bottom:$half__spacing-unit!important; }
.push__half--left    { margin-left:  $half__spacing-unit!important; }
.push__half--ends    { margin-top:   $half__spacing-unit!important; margin-bottom:$half__spacing-unit!important; }
.push__half--sides   { margin-right: $half__spacing-unit!important; margin-left:  $half__spacing-unit!important; }

.flush          { margin:       0!important; }
.flush--top     { margin-top:   0!important; }
.flush--right   { margin-right: 0!important; }
.flush--bottom  { margin-bottom:0!important; }
.flush--left    { margin-left:  0!important; }
.flush--ends    { margin-top:   0!important; margin-bottom:0!important; }
.flush--sides   { margin-right: 0!important; margin-left:  0!important; }


/**
 * Add/remove paddings
 */
.soft           { padding:       $base__spacing-unit!important; }
.soft--top      { padding-top:   $base__spacing-unit!important; }
.soft--right    { padding-right: $base__spacing-unit!important; }
.soft--bottom   { padding-bottom:$base__spacing-unit!important; }
.soft--left     { padding-left:  $base__spacing-unit!important; }
.soft--ends     { padding-top:   $base__spacing-unit!important; padding-bottom:$base__spacing-unit!important; }
.soft--sides    { padding-right: $base__spacing-unit!important; padding-left:  $base__spacing-unit!important; }

.soft__half           { padding:       $half__spacing-unit!important; }
.soft__half--top      { padding-top:   $half__spacing-unit!important; }
.soft__half--right    { padding-right: $half__spacing-unit!important; }
.soft__half--bottom   { padding-bottom:$half__spacing-unit!important; }
.soft__half--left     { padding-left:  $half__spacing-unit!important; }
.soft__half--ends     { padding-top:   $half__spacing-unit!important; padding-bottom:$half__spacing-unit!important; }
.soft__half--sides    { padding-right: $half__spacing-unit!important; padding-left:  $half__spacing-unit!important; }

.hard           { padding:       0!important; }
.hard--top      { padding-top:   0!important; }
.hard--right    { padding-right: 0!important; }
.hard--bottom   { padding-bottom:0!important; }
.hard--left     { padding-left:  0!important; }
.hard--ends     { padding-top:   0!important; padding-bottom:0!important; }
.hard--sides    { padding-right: 0!important; padding-left:  0!important; }


/**
 * Apply capital case to an element (usually a `strong`).
 */
.caps {
    text-transform:uppercase!important;
}


/**
 * Font weights
 */
.weight--light      { font-weight: $base__font--light !important; }
.weight--semibold   { font-weight: $base__font--semibold !important; }
.weight--bold       { font-weight: $base__font--bold !important; }


/**
 * Basic text colors
 */
.text--danger       { color: $color__font--red!important; }
.text--success      { color: $color__font--green-5!important; }
.text--light-gray   { color: $color__font--gray-30!important; }


/**
 * Positions
 */
.absolute   { position: absolute!important; }
.relative   { position: relative!important; }
.fixed      { position: fixed!important; }


/**
 * Displays
 */
.display--none          { display: none!important; }
.display--block         { display: block!important; }
.display--inline        { display: inline!important; }
.display--inline-block  { display: inline-block!important; }
.display--table-cell    { display: table-cell!important; }

/*
 * Center align a block element
 */
.center-aligned       { text-align: center!important; }
.left-aligned         { text-align: left!important; }

/*
 * vertical align a block element
 */
.vertical-align--top      { vertical-align: top!important; }

/*
 * Borders
 */
.border--gray-1 {
    border: 1px solid $color__lines--gray-50
}

/*
 * scroll related
 */
.overflow-y--hidden {
    overflow-y: hidden;
}

/*
 * font sizes
 */
.font-size--small { font-size: 12px !important; };

$text-space: (
    "left": (2, 3),
    "right": (2, 3)
);

@each $space-type,$spaces-list in $text-space {
    @each $space in $spaces-list {
        .space__#{$space-type}--#{$space}-unit {
            padding-#{$space-type}: $space * 3px;
        }
    }
}

/*
 * absolutely center align an element
 * IMP: make sure that the parent is positioned relative;
 */
.middle-center-aligned {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}
