/**
 * The following functions help us keep z-index management sane. This concept
 * has been taken as is from SitePoint. More details can be found here:
 * https://www.sitepoint.com/better-solution-managing-z-index-sass/.
 */

 $z-layers: (
    "modal":                9999,
    "header":               1000,
    "sub-header":            900,
    "store": (
        "slider-arrow":       1,
    ),
    "product": (
        "slider-arrow":       1,
    ),
    "default":              1,
    "backdrop":             2000,
);

@function removeFirst($list) {
    $current: 2;
    $listLength: length($list);
    $mapReturn: ();
    @while ($current <=$listLength) {
        $mapReturn: append($mapReturn, nth($list, $current));
        $current: $current + 1;
    }
    @return $mapReturn;
}

@function map-deep-get($map, $layers) {
    $layer: nth($layers, 1);
    $submap: map-get($map, $layer);
    @if (length($layers)==1) {
        @return $submap;
    }
    @if not $submap {
        @warn "No layer found for `#{$layer}` in $z-layers map. Property omitted.";
    }
    @return map-deep-get($submap, removeFirst($layers));
}

@function z($layers...) {
    @return map-deep-get($z-layers, $layers);
}
